body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
    left: 500px;
    bottom: 110px;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.title{
    font-size: xx-large;
}
.listCart .item img {
    max-width: 100%;
    max-height: 100px;
    margin-right: 10px; /* Anpassa marginaler efter behov */
    padding: 5px; /* Lägg till padding för visuellt utrymme */
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: white;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    color: black;
    

}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: rgb(18, 38, 58);
    border: none;
    font-weight: 500;
    cursor: pointer;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cartTab button:hover{
    background-color: lightblue;
}
.cartTab .close{
    background-color: darkgray
}
.cartTab .close:hover{
    background-color: red;
}

.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    color: black;
}
.listCart .quantity span{
    display: inline-flex;
    justify-content: center; /* Centrera horisontellt */
    align-items: center; /* Centrera vertikalt */
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: black;
    cursor: auto;
   
}
.listCart .item:nth-child(even){
    background-color:black
    
}
.listCart{
    overflow: auto;
    color: black;
}


.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}




  