ul { 
    float: left;
    margin-top: 25px;
}

ul li {
    display: inline-block;
    margin-left: 15px;
}

ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}




body {
    margin: 0;
    padding: 0;
}

header {
    background-color:  rgb(227, 236, 244);
    padding: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; /* Lägg till lite mellanrum nedanför top-section */
}

.logo {
    font-size: 40px;
    height:40px;
    margin-left: 40px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.search {
    padding: 12px;
    width: 540px;
    font-size: 16px;
    position: relative;
    right:310px;
    position: relative;
    top: 20px;
    
}

@media only screen and (max-width: 768px) {
    /* Centrera logotypen på mobilen */
    
   .search {
   width: 150px;
   padding: 5px;
   font-size:16px;
   text-align: center;
   position: relative;
   right: 200px;
   top: 40px;
   
}
}

/* Visa sökrutan när man klickar på söksymbolen */
.show-search .search {
    display: block;
}

.menu {
    display: flex;
}

.menu button {
    position: relative;
    right: 0px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 5px;
    
}

#skolprojektButton {
    position: relative; 
    left: 250px;/* Öka värdet för att flytta den längre åt höger */
    background-color: rgb(18, 38, 58); /* Sätt bakgrundsfärg */
    color: white; /* Ändra textfärgen */
    border: 1px solid rgb(33, 71, 109);
}
#skolprojektButton:hover {
    background-color: #3be602; /* Ändra färgen vid hovring */
    color: #fffbee; /* Justera textfärgen vid hovring */
}
#skolprojektButton a {
    text-decoration: none; /* Ta bort understrykning */
    color: white /* Ärva färgen från knappen */

}

#skolprojektButton:hover a {
    color: white; /* Ändra textfärgen vid hovring */
}
.menu button:hover{
    background-color: lightblue;
}


.submenu {
    position: relative;
}

.submenu button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}

.submenu .submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    
   
}

.submenu:hover .submenu-content {
    display: block;
}


/* Styla dropdown-menyn */
.dropdown-content {
    display: none;
    position: absolute;
    right: 725px;
    top: 140px;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin: px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

/* Visa dropdown-menyn när knappen klickas */
.dropdown:hover .dropdown-content {
    display:block;
}

/* Styla länkarna i dropdown-menyn */
.dropdown-content a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: black;
}

/* Styla länkhovring i dropdown-menyn */
.dropdown-content a:hover {
    background-color: #ddd;
}
.litenheader {
    display: flex;
    height: 30px;
    background-color: rgb(18, 38, 58);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1px; /* Lägg till lite utrymme runt texten */
    color: white;
    margin-right: 10px; /* Lägg till önskad marginal här */
    justify-content: space-between;
    position: relative;
    width: 100%;
    
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Justera mellanrummet mellan td-elementen */
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: relative;
    
}

.hamburger-menu span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: rgb(18, 38, 58);
    border-radius: 4px;
    margin-bottom: 4px;
}

/* Mobilmeny (dold som standard) */
.mobile-menu {
    display: none;
    font-size: 16px;
    flex-direction: column;
    position: relative;
    bottom: 65px;
    right: 110px;
    width: 150px;
    background-color: #f0f4f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    text-align: left;
}

.mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    
}

.mobile-menu li {
    padding: 10px 15px;
    text-align: left;
    position: relative;
    right: 20px;
}

.mobile-menu a {
    text-decoration: none;
    color: rgb(18, 38, 58);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mobile-menu a:hover {
    background-color: lightblue;
    border-radius: 4px;
}

/* Visa hamburgermenyn på mindre skärmar */
@media only screen and (max-width: 768px) {
    /* Visa hamburgermenyn */
    .hamburger-menu {
        display: flex;
        position: relative;
        margin-right: 280px;
        bottom: 64px;
    }
    .right-icons {
        justify-content: flex-end;
    }
    .menu {
        display: none; /* Dölj datorversionens meny */
    }
    .logo {
        font-size: 25px; /* Minska storleken på logotypen för mobil */
        position: relative;
        left: 50px;
        bottom: 10px;
        
    }
    /* För att göra "Min portfolio" mer centralt och mindre */
    .portfolio {
        font-size: 10px; /* Justera storlek */
        text-align: center;
        margin-top: 40px;
    }
    
    /* Justera bakgrundens höjd på mobil */
    header {
        padding: 5px 10px;
        background-color: rgb(227, 236, 244);
        height: 20px;
    }


    
    /* För att placera kundvagnen korrekt utan att skjuta bort den */
    .icon-cart {
        position: relative;
        margin-right: 720px;
        margin-top: 40px;
        font-size: 10px;
    }
    .search {
        display: none; /* Döljer textfältet */
    }

    .hamburger-menu span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: rgb(18, 38, 58);
        border-radius: 4px;
    }

    .mobile-menu.show-menu {
        display: flex;
    }
    .litenheader {
        display: flex;
        font-size: 10px;
        height: 20px;
        background-color: rgb(18, 38, 58);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 1px; /* Lägg till lite utrymme runt texten */
        color: white;
        margin-right: 10px; /* Lägg till önskad marginal här */
        justify-content: space-between;
    }
}


/* Grundinställningar */


/* High-tech meny */
