.omosshero{
    background-image: url("../images/omosshero.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 30px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
   
}
.vårhistoria{
    background-image: url("../images/Vår\ historia\ \(14\).png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:black;
    padding: 200px;
    padding-left: 30px;
    padding-top: 170px;
    text-align: left;
    text-align: top;
    font-size: 16px;
}


    
   

    