.omosshero{
    background-image: url("../images/omosshero.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding: 30px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
   
}
.vårhistoria{
    background-image: url("../images/bakgrundomoss.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:white;
    padding: 200px;
    padding-left: 80px;
    padding-top: 170px;
    text-align: left;
    text-align: top;
    font-size: 16px;
}

.vårhistoria h2{
    color: white;
    padding-left: 45px;
}
    
   

    