.produkthero{
    background-image: url("../images/heroprodukt.png");
    background-size: cover;
    background-position: center;
    color: darkorange;
    text-align: center;
    padding: 100px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.produkthero h1 {
    font-size: 100px; /* Standardstorlek för större skärmar */
    margin: 0; /* Ta bort eventuella extra marginaler */
}
@media screen and (max-width: 768px) {
    
    @media screen and (max-width: 768px) {
        .produkthero {
            padding: 50px; /* Mindre padding för mobil */
            background-size: cover; /* Anpassa bakgrundsbilden */
            position: relative;
            
        }
    }
    
        .produkthero h1 {
            font-size: 30px; /* Anpassa textstorleken för mindre skärmar */
        }
    }
    
   
    

.buy-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    background-color:  rgb(18, 38, 58);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    align-self: flex-end; /* Align button to the end of the container */
    margin-top: auto; /* Push button to the bottom */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buy-button:hover {
    background-color: lightblue
}

.Träningskläder{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 90px;
}
@media screen and (max-width: 768px) {
    .Träningskläder{
        font-size: 10px;
        position: relative;
        right: 70px;
    }
    .Kosttillskott{
        font-size: 10px;
        position: relative;
        right: 70px;
    }
}
.product {
    margin:15px; /* Minskat avstånd mellan produkter */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  /* Your existing CSS */
    display: flex; /* Add flex display */
    flex-direction: column; /* Arrange elements vertically */
   
}
select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
}

.product h2 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.product img {
     
    height: auto;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 5px;
    font-size: larger;
}

.product .ratings {
    margin-top: 10px;
}

.product .ratings .star {
    color: gold;
}

.product .ratings .rating-average {
    font-size: 14px;
    color: #555;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 77px;
}



.Kosttillskott{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
   
}
.Kosttillskott h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 90px;
   
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal-content img {
    max-width: 100%; /* Sätt maxbredd till 100% av förälderelementet */
    height: auto; /* Så att höjden justeras proportionellt */
}


.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.buy-button,
.read-more-button {
    margin-top: 3px; /* Justera avståndet mellan knapparna genom att ändra detta värde */
}
.kostillskottprodukter{
    display: flex;
    flex-wrap: wrap;
    margin-left: 77px;
    
}
@media screen and (max-width: 768px) {
    .product {
        max-width: 100%; /* Full bredd för produkter */
        margin: 5px auto; /* Minska marginal för bättre passform */
    }
    
    .product h2 {
        font-size: 16px; /* Anpassa titlar för mindre skärmar */
    }

    .product p {
        font-size: 20px; /* Minska textstorlek */
    }

    .products-container {
        flex-direction: column; /* Stapla produkter vertikalt */
         /* Mindre avstånd mellan produkter */
        width: 70%;
        position: relative;
        right: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Fördela produkter jämnt */
        align-items: flex-start; 
    }
    .kostillskottprodukter{
        position: relative;
        left: 85px;
        width: 75%;
    }
    

    .modal-content {
        width: 95%; /* Nästan full bredd på mobil */
    }

    
}