
.buy-button:hover {
    background-color: lightblue
}
.hero{
    background-image: url("../images/herostartsidan.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 350px; /* Justera kuddavståndet efter behov */
}
    
.mobile-only {
    display: none; /* Dölj som standard */
    background-color: black;
    background-size: cover;
    height: 750px; /* Täcker hela höjden */
    padding: 20px;
    display: flex;
    flex-direction: row; /* Text och bild bredvid varandra */
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    animation: fadeIn 2s ease-in-out; /* Animation vid inladdning */
    
    
}

/* Textinnehåll */
.content {
    flex: 1; /* Tar upp vänstra sidan */
    padding: 20px;
    text-align: left;
    max-width: 60%;
    animation: slideInLeft 1.5s ease-out;
    margin-bottom: 80px;
    
}

.mobile-only h1 {
    font-size: 60px;
    color: /* Neon-grön färg */#018786;
    margin-bottom: 10px;
    line-height: 100%;
}
.highlight{
    font-size: 100px;
    color: #64FFDA;
}

.mobile-only p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 1px;
    margin-top: 10px;
    color: #fffbee; /* Lila färg */
    line-height: 1.5;
    text-align: left;
   
}
.mobile-only button {
    padding: 15px 30px;
    background-color: #64FFDA;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    
}


.mobile-only button:hover {
    background-color: #018786;
    transform: scale(1.05); /* Förstorar vid hover */
}
.proteinpowerscroll{
    padding: 7px 24px;
    background-color: #03DAC6; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Korrekt transition */
    cursor: pointer;
    padding-left: 1px;
    width: 35%;
}

.proteinpowerscroll:hover {
    background-color:#018786;
    transform: scale(1.05); /* Liten förstoring vid hover */
}

/* Bilden */
.bakgrundportfolio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #64FFDA;
    margin-bottom: 10px;
}
.bakgrundportfolio h2{
    font-size: 30px;
}
.mobile-only button {
    padding: 15px 30px;
    background-color: #64FFDA;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}
.mobile-only .button1{
    padding: 15px 30px;
    background-color: #64FFDA;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}
/* Media query för mobil */
@media (max-width: 768px) {
    .mobile-only {
        display: flex; /* Visa endast på mobiler */
        flex-direction: column; /* Stapla innehållet på små skärmar */
        text-align: center;
        height: 1000px;
    }
    .mobile-only h1{
        font-size: 55px;
    }
    .mobile-only p{
        font-size: 14px;
    }
    .highlight{
        font-size: 73px;
    }
    
    .mobile-only button {
        display: flex;
        margin-bottom: 5px;
        background-color: #64FFDA; /* Cyan färg */
        color: #121212;
        text-decoration: none;
        padding: 10px 25px;
        border-radius: 5px;
        font-size: 14px;
        width: 55%;
        transition: background-color 0.3s, transform 0.3s;
    }
    .mobile-only .button1{
        padding: 10px 20px;
        background-color: #64FFDA;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:14px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        cursor: pointer;
    }
    .content {
        max-width: 100%;
        margin-top: 50px;
    }

    .profile-img {
        max-width: 50%;
    }
    .bakgrundportfolio{
        font-size: 20px;
        color: #03DAC6;
    }
    .bakgrundportfolio h2{
        font-size: 25px;
    }
    .mobile-only .button{
        font-size: 14px;
    }
    .proteinpowerscroll{
        font-size: 14px;
        width: 63%;
        padding: 9px 20px;
        background-color: #03DAC6; 
        text-decoration: none;
        border: none;
        border-radius: 5px;        
        transition: background-color 0.3s ease, transform 0.3s ease; /* Korrekt transition */
        cursor: pointer;
        padding-left: 1px;
        
    }
}

/* Animationer */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.cta-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(18, 38, 58);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    Position: relative;
    top: 10px;
    right: 370px;
}
.cta-button:hover{
    background-color: lightblue;
}
@media screen and (max-width: 768px) {
    .hero {
        padding: 70px 10px; /* Minskar padding för mobil */
        background-size: cover; /* Ser till att bilden täcker */
        text-align: center; /* Centrera innehåll */
    }

    .cta-button {
        font-size: 10px; /* Minskar textstorleken */
        padding: 5px; /* Minskar knappens storlek */
        position: relative; /* Tar bort absolut positionering */
        right:100px; /* Tar bort vänsterjustering */
        top: 10px;
        max-width: 50px; /* Begränsar knappens bredd */
        
    }
}


.Storsäljare{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 80px;
    font-size: 20px;
   
}


.buy-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    background-color:  rgb(18, 38, 58);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    align-self: flex-end; /* Align button to the end of the container */
    margin-top: auto; /* Push button to the bottom */
    
}


.buy-button:hover {
    background-color: lightblue
}


.product {
    margin:15px; /* Minskat avstånd mellan produkter */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  /* Your existing CSS */
    display: flex; /* Add flex display */
    flex-direction: column; /* Arrange elements vertically */
   
}


.product h2 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.product img {
    
    height: auto;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 5px;
}

.product .ratings {
    margin-top: 10px;
}

.product .ratings .star {
    color: gold;
}

.product .ratings .rating-average {
    font-size: 14px;
    color: #555;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    /* Your existing CSS */
    display: flex; /* Add flex display */
    flex-direction: column; /* Arrange elements vertically */
}

.Kosttillskott{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
    font-size: 15px;
}

/* Mobilanpassad kod */
@media screen and (max-width: 768px) {
    .Storsäljare {
        text-align: left;
        position: relative;
        right: 60px;
        font-size: smaller;
    }

    .products-container {
        display: flex;
        flex-wrap: wrap; /* Gör att produkterna bryts rad efter rad */
        
        width: 200%; /* Gör containern fullbredd på mobilen */
        position: relative;
        right: 70px;
    }
    
    .product {
        flex: 0 0 calc(50% - 10px); /* Två produkter per rad med liten marginal */
        margin-bottom: 10px; /* Lägger till mellanrum nedåt mellan rader */
        padding: 5px; /* Lite inre padding för att hålla det kompakt */
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column; /* Ordna innehållet vertikalt */
        justify-content: flex-start; /* Se till att innehållet är i toppen av boxen */
        box-sizing: border-box; /* Gör att padding och border räknas in i bredden */
    }

    /* För att säkerställa att produkterna bryts korrekt och inte blir tre per rad */
    .products-container .product:nth-child(odd) {
        margin-right: 10px; /* Lägg till ett litet mellanrum till höger på den första produkten */
    }

    .product img {
        width: 100%; /* Bilden täcker hela bredden av produktens container */
        height: 50%; /* Bilden täcker halva höjden på produktens container */
        object-fit: cover; /* Gör att bilden täcker utrymmet utan att bli förvrängd */
        margin-bottom: 10px; /* Avstånd mellan bild och rubrik */
    }

    .product h2 {
        margin-top: 0;
        font-size: 10px;
        margin-bottom: 4px; /* Minskat avstånd under rubriken */
        text-align: left; /* Centrerar rubriken under bilden */
    }

    .product p {
        margin: 0; /* Ta bort marginaler runt paragrafen */
        text-align: left;
        font-size: 5px;
    }

    .product .ratings {
        margin-top: 6px; /* Minska avståndet för betyg */
    }

    .product .ratings .star {
        color: gold;
    }

    .product .ratings .rating-average {
        font-size: 14px;
        color: #555;
    }

    .buy-button  {
        padding: 8px 0;
        font-size: 14px; /* Minska textstorleken på knappen för att passa bättre på mobilen */
    }
 
}




.newsletter-box {
    background-color: #fff;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;;
  }
  
  .newsletter-box h2{
    font-size: 20px;
    

}

  
  
  input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Prenumerera{
    width: calc(100% - 20px);
    padding: 10px;
    background-color: rgb(18, 38, 58);
    color: #fff;
    border: none;
    font-size: larger;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .Prenumerera:hover{
    background-color: lightblue;
  }
  @media screen and (max-width: 768px) {
    .newsletter-box {
        max-width: 80%; /* Minska bredden på mobil */
        padding: 8px; /* Minska padding för att göra boxen lite mindre */
    }

    .newsletter-box h2 {
        font-size: 20px; /* Minska rubrikens storlek */
    }
   

    input[type="email"], .Prenumerera {
        padding: 8px; /* Minska padding på inputfält och knapp */
        font-size: 14px; /* Minska fontstorlek för inputfält och knapp */
    }

    .Prenumerera {
        font-size: 16px; /* Justera knappens storlek för att passa bättre på små skärmar */
    }
}
.hero2{
    background-image: url("../images/suddig-bodybuilders.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 300px; /* Justera kuddavståndet efter behov */
    
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cta-button2{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(18, 38, 58);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    Position: absolute;
    right: 550px;
}
.cta-button2:hover{
    background-color: lightblue;
}
  .tillprodukternaknapp{
    width: calc(100% - 20px);
    padding: 10px;
    background-color: rgb(18, 38, 58);
    color: #fff;
    border: none;
    font-size: larger;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /* Gör alla bilder responsiva */

  @media screen and (max-width: 768px) {
    .hero2 {
        padding: 50px 20px; /* Minska padding på mobilen för att ge mer utrymme för innehåll */
        font-size: 18px; /* Justera fontstorlek för att passa bättre på små skärmar */
        text-align: left;
    }

    .cta-button2 {
        font-size: 15px; /* Minska fontstorleken på knappen för mindre skärmar */
        padding: 8px; /* Justera padding för en kompaktare knapp */
        width: 20%; /* Gör knappen fullbredd på mobilen */
        margin-top: 15px; /* Lägg till marginal ovanför knappen */
        position: relative;
        left: 120px;
        text-align: center;
        
    }

    .tillprodukternaknapp {
        font-size: 16px; /* Minska fontstorlek för bättre läsbarhet på mobilen */
        padding: 12px 20px; /* Minska padding för att passa mindre skärmar */
    }
}